.panel {

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header {
		margin-right: 2rem;
	}

	.header .custom-logo-link {
		display: block;
		max-width: 2rem;
		max-height: 2rem;
		flex-shrink: 0;
		@include min-width ( $screen-nav-hide ) {
			max-width: 4rem;
			max-height: 4rem;
		}
	}

	.nav {
		margin-right: 2rem;
		margin-left: auto;
		@include min-width ( $screen-nav-hide ) {
			margin-left: 0;
		}
	}

	.nav + .languages,
	.nav + .phone {
		margin-left: 0;
		@include min-width ( $screen-nav-hide ) {
			margin-left: auto;
		}
	}

	.nav .burger {
		display: flex;
		margin-left: auto;
		flex-direction: column;
		justify-content: space-around;
		width: 2rem;
		height: 2rem;
		padding: 0;
		cursor: pointer;
		@include min-width ( $screen-nav-hide ) {
			display: none;
		}
	}

	.nav .burger .line {
		display: block;
		height: 1px;
		width: 100%;
		background-color: #fff;
	}

	.nav .list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: none;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: opacity .2s;
		@include min-width ( $screen-nav-hide ) {
			display: flex;
		}
	}

	.nav.active .list {
		@extend %lead;
		display: block;
		position: fixed;
		padding: 5rem;
		overflow-y: scroll;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 1;
		background-color: $brand-primary;
		flex-direction: column;
		justify-content: center;
		z-index: 9999;
	}

	.nav li {
		padding: 0 1rem;
	}

	.nav a {
		color: #fff;
		display: block;
		// font-weight: bold;
		border-bottom: .1rem solid transparent;
		padding: .25rem 0;
		transition: border-bottom-color .25s;
		text-align: center;
	}

	.nav a:hover {
		border-bottom-color: #fff;
	}

	.languages {
		@extend %small;
		margin: 0 2rem 0 auto;
		text-align: center;
		position: relative;
		flex-shrink: 0;
	}

	.languages ul {
		display: inline-block;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.languages li {
		display: inline-block;
	}
	
	.languages a {
		@extend %small;
		color: #fff;
	}

	.languages a:hover {
		text-decoration: underline;
	}


	.languages .current {
		@extend %lead;
		color: #fff;
		display: inline-block;
	}

	.languages + .phone {
		margin-left: 0;
	}

	.phone {
		@extend %lead;
		margin-left: auto;
		flex-shrink: 0;
	}

	.phone .value {
		color: #fff;
		font-weight: bold;
		display: none;
		@include min-width ( $screen-nav-hide ) {
			display: initial;
		}
	}

	.phone::before {
		@extend %icon;
		@extend %background-icon;
		@extend %icon-call-white;
		content: '';
		@include min-width ( $screen-nav-hide ) {
			display: none;
		}
	}

}