//- Главная странциа
//- Услуги
.section--services {

	.entry {
		@extend %xy-center;
		margin: 0 auto $flexboxgrid-outer-margin auto;
		background-color: #F7F7F7;
		min-height: 10rem;
		max-width: 15rem;
		padding: 2.5rem 1rem;
		height: inherit;
		@include min-width ( $screen-sm ) {
			max-width: 100%;
		}
	}

	.entry:hover .title {
		color: $brand-success;
	}

	.entry .thumbnail {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		max-width: 8rem;
		height: auto;
	}

	.entry .title {
		@extend %h3;
		display: block;
		text-transform: uppercase;
		text-align: center;
		max-width: 15rem;
		margin: 0 auto;
		transition: color .25s;
	}

}