.section--jumbotron {

	.bgi {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 0;
	}

	.container {
		z-index: 1;
	}

	.title {
		color: #fff;
		margin-bottom: 1rem;
	}

	.excerpt {
		@extend %lead;
		color: #fff;
		margin: 1rem 0;
	}

	.permalink {
		@extend %button;
		@extend %button-large;
		margin-top: 1rem;
	}

}