//
//	Переменные
//

$screen-sm:					576px;
$screen-md:					768px;
$screen-lg:					992px;
$screen-xl:					1200px;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1.5em;
$flexboxgrid-outer-margin: 1.5em;
$flexboxgrid-breakpoints:
	xs $screen-sm 540px,
	sm $screen-md 720px,
	md $screen-lg 960px,
	lg $screen-xl 1140px;
$flexboxgrid-max-width: 1920px;
$smallest: xs;

$screen-nav-hide: $screen-lg;

$brand-default:     #343434;
$brand-primary:     #005BC1;
$brand-success:     #F24822;
$brand-warning:     #FF0000;

$brand-colors:
	'default' $brand-default,
	'primary' $brand-primary,
	'success' $brand-success,
	'warning' $brand-warning;


$body-color: #ffffff;
$text-color: #575656;
$link-color: darken( $text-color, 25% );

$font-size-base:    16px;
$line-height-base:	24 / 16;

$font-family-base: 'Open Sans', sans-serif;
$font-family-titles: 'Oswald', sans-serif;

$border-color: $brand-default;

$border-radius: 0;

$box-shadow: 0 0 2rem rgba( 0, 0, 0, .25 );