extend layout/_index


block variables
	- page.type = 'home';
	- page.title = 'Главная';



block main
	include parts/_jumbotron
	include parts/_about
	include parts/_experience
	include parts/_services
	include parts/_shop
	include parts/_portfolio
	include parts/_reviews
	include parts/_action
	include parts/_blog