extend layout/_index


mixin entry_search
	article.entry.mb-3.mt-3
		.row
			.col-xs-10.col-sm.col-md
				h3.title #[a( href="#" ) Заголовок поста]
				.excerpt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.row.middle-xs
						.col-xs-12.col-sm-4.text-left.mb-1
							time.small( datetime="2001-05-15 19:00" ) 15 мая 2021
						.col-xs-12.col-sm.text-right
							button.add-to-cart( title='Добавить в карзину' ) #[span.sr-only Добавить в карзину]
							a.btn.btn-default Подрбнее
			.col-xs-2.col-sm-2.col-md-1.col-lg-1.first-xs.mt-2
				.counter



block variables
	- page.type = 'search';
	- page.title = 'Результаты поиска';


block main
	.container
		h1 #{page.title}
		include forms/_search
		h2.sr-only Каталог товаров
		+entry_search
		+entry_search
		+entry_search
		+entry_search
		+entry_search
		include parts/_pagination