//-
	Главная страница
	О нас

section.section.section--about.mt-3.mb-3.pt-3.pb-3.about#about
	.container

		h2#about-title Альпсити

		.row.middle-xs
			.col-xs-12.col-sm-6.col-md-5.col-lg-5
				.description#about-description
					p Компания Альп-сити предлагает Вам профессиональные услуги промышленного альпинизма.
					p У нас работают хорошо подготовленные и квалифицированные специалисты по высотным работам. Они способны решить любую задачу быстро, качественно и без лишних затрат.

			.col-xs-12.col-sm-6.col-md-5.col-lg-6.col-lg-offset-1
				img( src='#' data-src=src.userfiles+'about.jpg' alt='АльпСити' )