//-
	Главная страница
	О нас

section.section.section--about.mt-3.mb-3.pt-3.pb-3.about#about
	.container

		.row.middle-xs
			.col-xs-12.col-sm-6.col-md-5.col-lg-5.first-sm
				h2.mb-3#about-title Альпсити
				.mt-3.description#about-description
					p Компания Альп-сити предлагает Вам профессиональные услуги промышленного альпинизма.
					p У нас работают хорошо подготовленные и квалифицированные специалисты по высотным работам. Они способны решить любую задачу быстро, качественно и без лишних затрат.

			.col-xs-12.col-sm-6.col-md-5.col-lg-6.col-lg-offset-1.text-xs-center.first-xs
				img.thumbnail#about-thumbnail( src='#' data-src=src.userfiles+'logo-colored.png' alt='АльпСити' )