//-
	Главная страница
	Призыв заказать звонок

section.section.section--action.mt-3.mb-3.pt-3.pb-3.bg-primary.action#action
	
	.container
		.row.middle-xs

			.col-xs-12.col-sm-8.col-md-8.col-lg-8.text-xs-center.text-sm-left
				h2 Нужен расчет?
				p Оставьте заявку и мысвяжемся с вами!

			.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-xs-center.text-sm-right.mt-2.mb-1
				a.permalink( href="#" ) Узнать стоимость