//-
	Главная страница
	Блог

section.section.section--blog.mt-3.mb-3.pt-3.pb-3.blog#blog

	.container

		.row.mb-3.pb-3

			.col-xs-12.col-sm-8.col-md-8.col-lg-8
				h2.mb-3#blog-title Блог

			.col-xs-12.col-sm-4.col-md-4.col-lg-4.text-right
				a.btn.btn-primary( href='#' ) Все посты

		.row.stratch-xs.mt-3.center-xs

			article.col-xs-12.col-sm-12.col-md-6.col-lg-6.mb-3.entry
				.row
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						a.thumbnail( href='#' )
							img.wp-post-thumbnail( src='#' data-src=src.userfiles+'blog/01.jpg' alt='Превью первого поста' )
					.col-xs-12.col-sm-6.col-md-6.col-lg-6
						.row
							.col-xs-8.text-xs-left
								h3.title #[a( href="#" ) Семинар Milos]
							.col-xs-4.text-xs-right
								time.small( datetime="2001-05-15 19:00" ) 15.05.2001
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						p: a.permalink( href="#" ) Читать полностью...

			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.row

					article.short.col-xs-12.col-sm-6.col-md-6.col-lg-6.mb-3.entry
						h3.title #[a( href="#" ) Выставка Prolight+Sound NAMM Russia 2016]
						p 30 контрактов, тысячи восторженных посетителей...
						.row.bottom-xs
							.col-xs-6.col-sm-6.col-md-6.col-lg-6
								a.thumbnail( href='#' )
									img.wp-post-thumbnail( src='#' data-src=src.userfiles+'blog/02.jpg' alt='Превью второго поста' )
							.col-xs-6.col-sm-6.col-md-6.col-lg-6
								time.small( datetime="2001-05-15 19:00" ) 15.05.2001
					
					article.short.col-xs-12.col-sm-6.col-md-6.col-lg-6.mb-3.entry
						h3.title #[a( href="#" ) Семинар Robe]
						p 30 января 2017 года наши сотрудники побывали в Берлине..
						.row.bottom-xs
							.col-xs-6.col-sm-6.col-md-6.col-lg-6
								a.thumbnail( href='#' )
									img.wp-post-thumbnail( src='#' data-src=src.userfiles+'blog/03.jpg' alt='Превью третьего поста' )
							.col-xs-6.col-sm-6.col-md-6.col-lg-6
								time.small( datetime="2001-05-15 19:00" ) 15.05.2001