//-
	Подвал сайта

.container: .row.middle-xs.pb-2.pt-2

	.col-xs-12.col-sm-6.col-md-6.col-lg-6.text-xs-center.text-sm-left
		p &copy; #{blog.name}, 2021

	.col-xs-12.col-sm-6.col-md-6.col-lg-6.text-xs-center.text-sm-right
		p Разработка: #[a( href='https://chomovva.ru/' ) chomovva]