//-
	Верхняя панель


header.header#header
	a.custom-logo-link( href='#' )
		img.custom-logo( src=src.userfiles+'logo.png' alt=blog.name )

nav.nav#nav
	ul.nav__list.list
		li.menu-item: a( href='#' ) О компании
		li.menu-item: a( href='#' ) Наши работы
		li.menu-item: a( href='#' ) Каталог материалов
		li.menu-item: a( href='#' ) Фасад
		li.menu-item: a( href='#' ) Кровля
		li.menu-item: a( href='#' ) Контакты
	button.burger( data-mobilenav='toggle' ) #[span.line] #[span.line] #[span.line] #[span.sr-only Открыть меню]


.languages#languages
	.current RU
	//- button.current RU
	ul
		li: a( href="#" ) UA
		li: a( href="#" ) EN

a.phone( href="tel:380688478820" ) #[span.value +38 (068) 847 8820]