//-
	Главная страница
	Наши проекты

section.section.section--portfolio.mt-3.mb-3.pt-3.pb-3.portfolio.slider#portfolio

	.container
		.row.middle-xs.mb-3

			.col-xs-12.col-sm-12.col-md-4.col-lg-5
				h2#portfolio-title Наши проекты

			.col-xs-8.col-sm-8.col-md-4.col-lg-4
				a.btn.btn-lg.btn-primary( href='#' ) Все проекты

			.col-xs-4.col-sm-4.col-md-4.col-lg-3
				.controls
					button.slider-button.prev#portfolio-prev-button #[span.sr-only Предыдущая запись]
					button.slider-button.next#portfolio-next-button #[span.sr-only Следующая запись]

		#portfolio-content
			+card ( { thumbnail: src.userfiles+'portfolio/01.jpg', title: 'ССК “ОЛИМП”' } )
			+card ( { thumbnail: src.userfiles+'portfolio/02.jpg', title: 'ССК “ОЛИМП”' } )
			+card ( { thumbnail: src.userfiles+'portfolio/01.jpg', title: 'ССК “ОЛИМП”' } )
			+card ( { thumbnail: src.userfiles+'portfolio/02.jpg', title: 'ССК “ОЛИМП”' } )
			+card ( { thumbnail: src.userfiles+'portfolio/01.jpg', title: 'ССК “ОЛИМП”' } )
			+card ( { thumbnail: src.userfiles+'portfolio/02.jpg', title: 'ССК “ОЛИМП”' } )