//-
	Главная страница
	Наши проекты

mixin portfolio_entry ( args )
	a.entry( href="#" )
		img.thumbnail( src='#' data-lazy=args.thumbnail alt=args.title )
		.overlay
			h3.title #{args.title}
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat

section.section.section--portfolio.mt-3.mb-3.pt-3.pb-3.portfolio.slider#portfolio

	.container
		.row.middle-xs.mb-3

			.col-xs-8.col-sm-8.col-md-4.col-lg-5
				h2#portfolio-title Наши проекты

			.col-xs-8.col-sm-8.col-md-4.col-lg-4
				a.btn.btn-lg.btn-primary( href='#' ) Все проекты

			.col-xs-4.col-sm-4.col-md-4.col-lg-3
				.controls
					button.slider-button.prev#portfolio-prev-button #[span.sr-only Предыдущая запись]
					button.slider-button.next#portfolio-next-button #[span.sr-only Следующая запись]

		#portfolio-content
			+portfolio_entry ( { thumbnail: src.userfiles+'portfolio/01.jpg', title: 'ССК “ОЛИМП”' } )
			+portfolio_entry ( { thumbnail: src.userfiles+'portfolio/02.jpg', title: 'ССК “ОЛИМП”' } )
			+portfolio_entry ( { thumbnail: src.userfiles+'portfolio/01.jpg', title: 'ССК “ОЛИМП”' } )
			+portfolio_entry ( { thumbnail: src.userfiles+'portfolio/02.jpg', title: 'ССК “ОЛИМП”' } )
			+portfolio_entry ( { thumbnail: src.userfiles+'portfolio/01.jpg', title: 'ССК “ОЛИМП”' } )
			+portfolio_entry ( { thumbnail: src.userfiles+'portfolio/02.jpg', title: 'ССК “ОЛИМП”' } )